header {
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 30px;
    padding: 20px;
    text-align: center;
    background: #808080;
    color: white;
    margin-top: 0;
  
  }
  